#root{
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;  
}

.App{
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /*Very Dark Blue*/
  background-color: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.rating-container,
.thankyou-container {
  /*Dark Blue*/
  background-color: hsl(213, 19%, 18%);
  border-radius: 20px;
  padding: 1.6rem;
  display: flex;
  flex-flow: column nowrap;

  background-image: linear-gradient(
    to bottom,
    hsl(213, 19%, 18%),
    hsl(213, 19%, 12%)
  );  
}

.star-button {
  background-color: hsl(213, 19%, 20%);
  margin: 1rem 0.1rem;
}

.rating-container> h2 {
  /*White*/
  color: hsl(0, 0%, 100%);
  justify-content: flex-start;
}


.thankyou-container> h2 {
  /*White*/
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;  
}

p {
  /*Light Grey*/
  color: hsl(217, 12%, 63%);
  margin: 1rem 0rem;
}

.rating-button,
.star-button {
  /*Light Grey*/
  color: hsl(217, 12%, 63%);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.ratings-button-container {
  display: flex;
  justify-content: space-around;
  padding: 0.8rem 0rem;
}

.rating-button {
  /*Dark Blue*/
  background-color: hsl(213, 19%, 18%);
  margin: 0.5rem 0.1rem;
}

.rating-button:hover {
  background-color: hsl(25, 97%, 53%);
  /*White*/
  color: hsl(0, 0%, 100%);
  transition: 0.3s;
}

.rating-button:focus {
  background-color: hsl(217, 12%, 63%);
  /*White*/
  color: hsl(0, 0%, 100%);
  transition: 0.3s;
}

.submit-button {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%); /*White:*/
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  width: 100%;
  height: 2.5rem;
  border-radius: 30px;
  border: none;
  margin: 0.5rem, 0, 0.8rem, 0;
}

.submit-button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.illustration-thank-you {
  display: block;
  width: 125px;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.display-ratings {
  background-color: hsl(213, 19%, 20%);
  color: hsl(25, 97%, 53%);
  font-weight: 200;
  border-radius: 30px;
  border: none;
  height: 1.8rem;
  width: 55%;
  padding: 0.5rem;
  margin: 1rem 0rem 1rem 4rem;
}

.thankyou-container p {
  text-align-last: center;
}


/* Mobile devices: 320px — 480px  */
@media only screen and (max-width: 480px) {
  .rating-container,
  .thankyou-container {    
    margin: 1.4rem;
  }

  .star-symbol {
    width: 15px;
  }

  p {
    font-size: 14px;
  }  
}

/* iPads, Tablets: 481px — 768px */
@media screen and (max-width: 768px) and (min-width: 481px) {
  .rating-container,
  .thankyou-container {
    width: 50%;
  }
}

/* Small screens, laptops: 769px — 1024px  (and above) */
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .rating-container,
  .thankyou-container {
    width: 40%;
  }

  p {
    font-size: 15px;
  }
}

/*Desktop, 1025px (and above) */
@media only screen and (min-width: 1025px) {
  .rating-container,
  .thankyou-container {
    width: 30%;
  }
  
  p {
    font-size: 15px;
  }
}

